/*Desktop screen */
@media only screen and (min-width: 801px){
  body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "main main main"
    "main main main";
    width: 1600px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 1px #888888;
  }
  nav{
    grid-area: nav;
    box-shadow: 0px 3px 1px #888888;
    background: #ffffff;
  }
  header{
    grid-area: header;
    margin-top: 80px;
    margin-left: 300px;
  }
  main, article{
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-style: oblique;
  }
  .inp1{
    height: 40px;
    width: 33%;
    border-radius: 5px;
    border-width: thin;
  }
  .inp2{
    height: 110px;
    width: 60%;
    border-radius: 5px;
    border-width: thin;
  }
  .addbtn{
    margin-left: 657px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border-width: thin;
    background-color: #56D4C2;
    font-style: oblique;
    color: #ffffff;
    font-size: 28px;
  }
  .cmpltbtn{
    background-color: #56D4C2;
    font-style: oblique;
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
    margin-left: 150px;
  }

  .box1, .box2, .box3{
    width: 33%;
    border-radius: 10px;
    height: 160px;
    width: 250px;
    margin: 10px;
    box-shadow: 2px 5px 2px #EAFAFA;
  }
  .box1{
    margin-left: 300px;
  }
  .box4, .box5, .box6{
    width: 33%;
    border-radius: 10px;
    margin-top: 50px;
    height: 160px;
    width: 250px;
    margin: 10px;
    box-shadow: 2px 5px 2px #EAFAFA;
  }
  .box4{
    margin-left: 300px;
  }
  .frstH{
    float: left;
    margin-left: 30px;
    font-family: sans-serif;
  }
  .scndH{
    float: right;
    margin-right: 30px;
    font-family: sans-serif;
  }
  .thrdH{
    margin-left: 300px;
    font-family: sans-serif;
  }
  .boxH{
    font-family: sans-serif;
    font-size: 17px;
  }
}
/*small screen */
@media only screen and (max-width: 800px) {
  body{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "main";
    margin: auto;
  }
  .box1, .box2, .box3, .box4, .box5, .box6{
    width: 65%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    border-radius: 10px;
    box-shadow: 2px 5px 2px #EAFAFA;
    margin-bottom: 20px;
  }
  nav{
    grid-area: nav;
  }
  header{
    grid-area: header;
  }
  main, article{
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-style: oblique;
  }
  .inp1{
    height: 40px;
    width: 33%;
    border-radius: 5px;
    border-width: thin;
    margin-left: 15%;
  }
  .inp2{
    height: 110px;
    width: 60%;
    border-radius: 5px;
    border-width: thin;
    margin-left: 15%;
  }
  .lbl1{
    margin-left: 15%;
  }
  .lbl2{
    margin-left: 15%;
  }
  .addbtn{
    border-radius: 5px;
    border-width: thin;
    background-color: #56D4C2;
    font-style: oblique;
    color: #ffffff;
    margin-left: 15%;
  }
  .cmpltbtn{
    background-color: #56D4C2;
    font-style: oblique;
    border-radius: 5px;
    border-style: none;
    color: #ffffff;
  }
  .frstH{
    float: left;
    margin-left: 30px;
    font-family: sans-serif;
  }
  .scndH{
    float: right;
    margin-right: 30px;
    font-family: sans-serif;
  }
  .thrdH{
    align-self: center;
    margin-top: 50px;
    font-family: sans-serif;
  }
}
